[force_move]
enable_force_move: True

[AFC_extruder extruder]
pin_tool_start: PD15
# pin_tool_end: ^sb2209:gpio21
tool_stn: 135                    # Расстояние в мм от датчика головки инструмента до кончика сопла в мм. Если определен `tool_end`, то расстояние указывается от этого датчика.
tool_stn_unload: 60            # Расстояние перемещения в мм при разгрузке инструментальной головки
tool_sensor_after_extruder: 0   # Дополнительное расстояние для перемещения (в мм) после того, как датчики "до" и "после" будут очищены. Полезно, когда используется только датчик "после", так как это расстояние может быть достаточным для перемещения, чтобы очистить шестерни экструдера.
tool_unload_speed: 25           # Unload speed in mm/s when unloading toolhead. Default is 25mm/s.
tool_load_speed: 20             # Load speed in mm/s when unloading toolhead. Default is 25mm/s.

#[filament_switch_sensor bypass]
#switch_pin: turtleneck:PB5
#pause_on_runout: False


[AFC_buffer Turtle_1]
advance_pin: ^Turtle_1:PE3    # set advance pin
trailing_pin: ^Turtle_1:PE2  # set trailing pin
multiplier_high: 1.05   # default 1.05, factor to feed more filament
multiplier_low:  0.95   # default 0.95, factor to feed less filament
velocity: 0
